commands:
  01_yum:
    command: yum install -y xz urw-fonts libXext openssl-devel libXrender xorg-x11-fonts-75dpi libpng
  02_wget:
    command: wget http://download.gna.org/wkhtmltopdf/0.12/0.12.3/wkhtmltox-0.12.3_linux-generic-amd64.tar.xz
  03_untar:
    command: tar -xvf wkhtmltox-0.12.3_linux-generic-amd64.tar.xz
  04_mv:
    command: cp wkhtmltox /usr/wkhtmltox
  05_link_pdf:
    command: ln -s /usr/wkhtmltox/bin/wkhtmltopdf /usr/bin/wkhtmltopdf
  06_link_img:
    command: ln -s /usr/wkhtmltox/bin/wkhtmltoimage /usr/bin/wkhtmltoimage
